
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

#main{
    height: 50vmin;
    min-height: 350px;
    width: 42vmin;
    min-width: 300px;
    /* background-color: black; */
    margin: auto;
    margin-top: 5vmax;
    border-radius: 16px;
    border: 4px black solid;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#main #text{
    transform: translateY(40%);
    font-size: 40px;
    font-family: 'Rubik Scribble';
}
#main form{
    height: 85%;
    width: 90%;
}
#main input{
    height: 15%;
    width: 90%;
}
@media (max-width:600px){
    #main #text{
        transform: translateY(20%);
    }
}